* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
}

body {
  background-color: rgb(43, 43, 43);
  color: white;
}

.container {
  width: 85%;
  margin: 0 auto;
}

button {
  cursor: pointer;
}
button:hover {
  background-color: rgb(173, 116, 248);
  box-shadow: 0px 0px 5px rgb(213, 180, 255);
}

a {
  display: flex;
  gap: 3px;
  color: inherit;
  position: relative;
  transition: all 2s;
}
a::after {
  position: absolute;
  bottom: -8px;
  left: 0;
  content: "";
  width: 0%;
  background-color: rgb(162, 89, 255);
  height: 10px;
  border-radius: 0 50%;
  transition: all 2s;
}
a:hover::after {
  width: 100%;
  height: 2px;
  border-radius: 50% 0;
}
a:hover {
  gap: 5px;
}
a span {
  color: inherit;
  transition: font-size 0.3s ease;
}
a span:hover {
  transform: scale(1.5);
  color: rgb(162, 89, 255);
}

.shrink {
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.678);
}

.header {
  width: 100%;
  padding: 20px 10px;
  position: fixed;
  color: inherit;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.208);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.header__nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.header__nav__logo {
  width: 30%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__right {
  width: 70%;
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  align-items: center;
}
.header__list {
  display: flex;
  gap: 30px;
}
.header__item {
  display: flex;
  gap: 30px;
}
.header__link {
  display: flex;
  gap: 2px;
  color: inherit;
}
.header__btn {
  padding: 9px 13px;
  background-color: rgb(162, 89, 255);
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 900;
}
.header .toggle {
  color: white;
  display: none;
  background: transparent;
  border: none;
  font-size: 25px;
}
.header .toggle:hover {
  box-shadow: none;
}

@media (max-width: 992px) {
  .header {
    width: 100%;
    padding: 20px 10px;
  }
  .header__nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  .header__nav__logo {
    width: 30%;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .header__right {
    width: 70%;
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .header__list {
    display: flex;
    gap: 20px;
  }
  .header__item {
    display: flex;
  }
  .header___link {
    color: inherit;
  }
  .header__btn {
    background-color: rgb(162, 89, 255);
    color: white;
    display: flex;
    gap: 1px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
  }
}
@media (max-width: 880px) {
  .header {
    width: 100%;
    padding: 20px 10px;
  }
  .header__nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  .header__nav__logo {
    width: 30%;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .header__right {
    width: 70%;
    display: flex;
    gap: 10px;
  }
  .header__list {
    display: flex;
    gap: 10px;
  }
  .header__item {
    display: flex;
  }
  .header__item__link {
    color: inherit;
  }
  .header__btn {
    background-color: rgb(162, 89, 255);
    color: white;
    display: flex;
    gap: 10px;
    border: none;
    border-radius: 20px;
  }
}
@media (max-width: 700px) {
  .header {
    width: 100%;
    padding: 20px 10px;
  }
  .header .header__nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .header__nav__logo {
    width: 30%;
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 9;
  }
  .header__nav__logo h2 {
    font-size: 18px;
  }
  .header__right {
    width: 70%;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
  }
  .header__list {
    width: 50%;
    height: 100vh;
    background-color: rgba(43, 45, 72, 0.596);
    position: fixed;
    top: 0;
    left: -100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    transition: 1s;
  }
  .header .header__list.active {
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
  }
  .header .toggle {
    display: block;
  }
  .header__item {
    display: flex;
  }
  .header__btn {
    padding: 8px;
    color: white;
    display: flex;
    gap: 10px;
    border: none;
    border-radius: 20px;
    background: transparent;
  }
  .header__btn p {
    display: none;
  }
  .header__action {
    display: flex;
    gap: 10px;
  }
}
.hero {
  display: flex;
  gap: 20px;
  padding: 90px 0px 30px 0px;
}
.hero .hero-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}
.hero .hero-left .hero-title {
  width: 70%;
  font-size: 67px;
  font-weight: 700;
}
.hero .hero-left .hero-desc {
  width: 80%;
  font-size: 22px;
  font-weight: 400;
}
.hero .hero-left .hero-btn {
  width: 120px;
  padding: 9px 13px;
  background-color: rgb(162, 89, 255);
  color: white;
  gap: 10px;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.hero .hero-left .hero-totals {
  display: flex;
  justify-content: space-around;
}
.hero .hero-left .hero-totals .hero-total {
  width: 100%;
}
.hero .hero-left .hero-totals .hero-total .total-score {
  font-size: 28px;
  font-weight: 700;
}
.hero .hero-left .hero-totals .hero-total .total-info {
  font-size: 24px;
  font-weight: 400;
}
.hero .hero-right {
  background-color: rgb(59, 59, 59);
  border-radius: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 15px;
}
.hero .hero-right .hero__right__title {
  padding-left: 15px;
  font-size: 22px;
  font-weight: 600;
}
.hero .hero-right .hero__right__desc {
  padding-left: 15px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.hero .hero-right .hero__right__desc h2 {
  font-size: 16px;
  font-weight: 400;
}
.hero .none {
  display: none;
}

@media (min-width: 993px) {
  .container {
    width: 100%;
    margin: 0;
  }
  .hero {
    display: flex;
    gap: 20px;
    padding: 100px 20px 30px;
  }
  .hero .hero-left {
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }
  .hero .hero-left .hero-title {
    width: 100%;
    font-size: 67px;
    font-weight: 700;
  }
  .hero .hero-left .hero-desc {
    width: 100%;
    font-size: 22px;
    font-weight: 400;
  }
  .hero .hero-left .hero-btn {
    display: flex;
    justify-content: center;
    width: 224px;
    height: 60px;
    background-color: rgb(162, 89, 255);
    color: white;
    gap: 10px;
    border: none;
    border-radius: 20px;
    font-size: 19px;
    font-weight: 600;
  }
  .hero .hero-left .hero-totals {
    display: flex;
    justify-content: space-between;
  }
  .hero .hero-left .hero-totals .hero-total {
    width: 100%;
  }
  .hero .hero-left .hero-totals .hero-total .total-score {
    font-size: 28px;
    font-weight: 700;
  }
  .hero .hero-left .hero-totals .hero-total .total-info {
    font-size: 24px;
    font-weight: 400;
  }
  .hero .hero-right {
    background-color: rgb(59, 59, 59);
    border-radius: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 15px;
  }
  .hero .hero-right .hero__right__title {
    padding-left: 15px;
    font-size: 22px;
    font-weight: 600;
  }
  .hero .hero-right .hero__right__desc {
    padding-left: 15px;
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .hero .hero-right .hero__right__desc h2 {
    font-size: 16px;
    font-weight: 400;
  }
  .hero .hero-right img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 992px) {
  .container {
    width: 100%;
    margin: 0;
  }
  .hero {
    display: flex;
    gap: 20px;
    padding: 100px 20px 30px;
  }
  .hero .hero-left {
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }
  .hero .hero-left .hero-title {
    width: 100%;
    font-size: 38px;
    font-weight: 700;
  }
  .hero .hero-left .hero-desc {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
  }
  .hero .hero-left .hero-btn {
    width: 120px;
    padding: 9px 13px;
    background-color: rgb(162, 89, 255);
    color: white;
    gap: 10px;
    border: none;
    border-radius: 10px;
  }
  .hero .hero-left .hero-totals {
    display: flex;
    justify-content: space-between;
  }
  .hero .hero-left .hero-totals .hero-total {
    width: 100%;
  }
  .hero .hero-left .hero-totals .hero-total .total-score {
    font-size: 28px;
    font-weight: 700;
  }
  .hero .hero-left .hero-totals .hero-total .total-info {
    font-size: 24px;
    font-weight: 400;
  }
  .hero .hero-right {
    background-color: rgb(59, 59, 59);
    border-radius: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 15px;
  }
  .hero .hero-right .hero__right__title {
    padding-left: 15px;
    font-size: 22px;
    font-weight: 600;
  }
  .hero .hero-right .hero__right__desc {
    padding-left: 15px;
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .hero .hero-right .hero__right__desc h2 {
    font-size: 16px;
    font-weight: 400;
  }
  .hero .hero-right img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 768px) {
  .container {
    width: 100%;
    margin: 0;
  }
  .hero {
    display: flex;
    gap: 20px;
    padding: 70px 20px 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hero .hero-left {
    order: 1;
    width: 90%;
  }
  .hero .hero-left .hero-title {
    width: 100%;
    font-size: 38px;
    font-weight: 700;
  }
  .hero .hero-left .hero-desc {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
  }
  .hero .hero-left .hero-btn {
    display: none;
    width: 120px;
    padding: 9px 13px;
    background-color: rgb(162, 89, 255);
    color: white;
    gap: 10px;
    border: none;
    border-radius: 10px;
  }
  .hero .hero-left .hero-btn.none {
    display: flex;
    width: 120px;
    padding: 9px 13px;
    background-color: rgb(162, 89, 255);
    color: white;
    gap: 10px;
    border: none;
    border-radius: 10px;
  }
  .hero .hero-left .hero-totals {
    display: none;
    justify-content: space-between;
  }
  .hero .hero-left .hero-totals .hero-total {
    width: 100%;
  }
  .hero .hero-left .hero-totals .hero-total .total-score {
    font-size: 28px;
    font-weight: 700;
  }
  .hero .hero-left .hero-totals .hero-total .total-info {
    font-size: 24px;
    font-weight: 400;
  }
  .hero .hero-right {
    width: 80%;
    height: 100%;
    order: 2;
  }
  .hero .hero-right img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .hero .hero-btn.none {
    order: 3;
    display: flex;
    width: 80%;
    gap: 5px;
    justify-content: center;
    padding: 9px 13px;
    background-color: rgb(162, 89, 255);
    color: white;
    gap: 10px;
    border: none;
    border-radius: 10px;
  }
  .hero .hero-totals.none {
    order: 4;
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 576px) {
  .container {
    width: 100%;
    margin: 0;
  }
  .hero {
    display: flex;
    gap: 20px;
    padding: 90px 20px 30px;
    flex-direction: column;
  }
  .hero .hero-left {
    order: 1;
  }
  .hero .hero-left .hero-title {
    width: 100%;
    font-size: 28px;
    font-weight: 600;
  }
  .hero .hero-left .hero-desc {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
  }
  .hero .hero-left .hero-btn {
    width: 120px;
    padding: 9px 13px;
    background-color: rgb(162, 89, 255);
    color: white;
    gap: 10px;
    border: none;
    border-radius: 10px;
    display: none;
  }
  .hero .hero-left .hero-totals {
    display: none;
    justify-content: space-between;
  }
  .hero .hero-left .hero-totals .hero-total {
    width: 100%;
  }
  .hero .hero-left .hero-totals .hero-total .total-score {
    font-size: 28px;
    font-weight: 700;
  }
  .hero .hero-left .hero-totals .hero-total .total-info {
    font-size: 24px;
    font-weight: 400;
  }
  .hero .hero-right {
    order: 2;
  }
  .hero .hero-right img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .hero .hero-totals.none {
    order: 4;
    display: flex;
    justify-content: space-around;
    width: 80%;
  }
  .hero .hero-totals.none .hero-total {
    width: 30%;
    text-align: center;
  }
  .hero .hero-totals.none .hero-total .total-score {
    font-size: 22px;
    font-weight: 700;
  }
  .hero .hero-totals.none .hero-total .total-info {
    font-size: 18px;
    font-weight: 400;
  }
  .hero .hero-btn.none {
    width: 80%;
    padding: 9px 13px;
    background-color: rgb(162, 89, 255);
    color: white;
    gap: 10px;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    order: 3;
  }
}
.collection {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 0px;
  align-items: center;
}
.collection .collection-title {
  width: 85%;
  font-size: 38px;
  font-weight: 600;
}
.collection .collection-desc {
  width: 85%;
  font-size: 22px;
  font-weight: 400;
}
.collection .collection-cards {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.collection .collection-cards .collection-card {
  width: 330px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}
.collection .collection-cards .collection-card .collection-card-hero-img {
  width: 100%;
  height: 100%;
}
.collection .collection-cards .collection-card .collection-card-bottom {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
}
.collection .collection-cards .collection-card .collection-card-bottom .collection-card-bottom-img {
  width: 30%;
}
.collection .collection-cards .collection-card .collection-card-bottom-title {
  text-align: left;
  font-size: 22px;
  font-weight: 600;
}
.collection .collection-cards .collection-card .collection-bottom-desc {
  text-align: left;
  display: flex;
  gap: 10px;
}
.collection .collection-cards .collection-card .collection-bottom-desc h2 {
  font-size: 16px;
  font-weight: 400;
}

@media (max-width: 992px) {
  .collection {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 30px;
  }
  .collection .collection-title {
    font-size: 38px;
    font-weight: 600;
  }
  .collection .collection-desc {
    font-size: 22px;
    font-weight: 400;
  }
  .collection .collection-cards {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .collection .collection-cards .collection-card.first {
    display: none;
  }
  .collection .collection-cards .second {
    display: none;
  }
  .collection .collection-cards .collection-card {
    width: 330px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .collection .collection-cards .collection-card .collection-card-hero-img {
    width: 100%;
    height: 100%;
  }
  .collection .collection-cards .collection-card .collection-card.second {
    display: none;
  }
  .collection .collection-cards .collection-card .collection-card-bottom {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  .collection .collection-cards .collection-card .collection-card-bottom .collection-card-bottom-img {
    width: 30%;
  }
  .collection .collection-cards .collection-card .collection-card-bottom-title {
    font-size: 22px;
    font-weight: 600;
  }
  .collection .collection-cards .collection-card .collection-bottom-desc {
    display: flex;
    gap: 10px;
  }
  .collection .collection-cards .collection-card .collection-bottom-desc h2 {
    font-size: 16px;
    font-weight: 400;
  }
}
@media (max-width: 768px) {
  .collection {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 30px;
    text-align: center;
  }
  .collection .collection-title {
    font-size: 28px;
    font-weight: 600;
  }
  .collection .collection-desc {
    font-size: 16px;
    font-weight: 400;
  }
  .collection .collection-cards {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .collection .collection-cards .collection-card.first {
    display: none;
  }
  .collection .collection-cards .collection-card.second {
    display: none;
  }
  .collection .collection-cards .first {
    display: none;
  }
  .collection .collection-cards .collection-card {
    width: 330px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .collection .collection-cards .collection-card .collection-card.first {
    display: none;
  }
  .collection .collection-cards .collection-card .collection-card-hero-img {
    width: 100%;
    height: 100%;
  }
  .collection .collection-cards .collection-card .collection-card-bottom {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  .collection .collection-cards .collection-card .collection-card-bottom .collection-card-bottom-img {
    width: 30%;
  }
  .collection .collection-cards .collection-card .collection-card-bottom-title {
    font-size: 22px;
    font-weight: 600;
  }
  .collection .collection-cards .collection-card .collection-bottom-desc {
    display: flex;
    gap: 10px;
  }
  .collection .collection-cards .collection-card .collection-bottom-desc h2 {
    font-size: 16px;
    font-weight: 400;
  }
}
.creator {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 50px 100px;
  align-items: center;
}
.creator__top {
  width: 85%;
  display: flex;
  justify-content: space-between;
}
.creator__info {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.creator__btn {
  width: 247px;
  height: 60px;
  padding: 0px 50px;
  border: 2px solid rgb(162, 89, 255);
  border-radius: 25px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: inherit;
}
.creator__btn:hover {
  background-color: rgba(161, 89, 255, 0.276);
  box-shadow: none;
}
.creator__btn i {
  color: rgb(162, 89, 255);
}
.creator__btn.none {
  display: none;
}
.creator__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.creator__card {
  display: flex;
  flex-direction: column;
  background-color: rgb(59, 59, 59);
  border-radius: 20px;
  padding: 20px;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.creator__card img {
  width: 110px;
}
.creator__card__info {
  display: flex;
  gap: 15px;
  flex-direction: column;
  text-align: center;
}
.creator__number {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.402);
  color: rgb(133, 133, 132);
  border-radius: 50%;
  padding: 2px 7px;
  font-size: 16px;
}
.creator__card__title {
  margin-top: -10px;
  font-size: 22px;
  font-weight: 600;
}
.creator__card__desc {
  margin-top: -10px;
  font-size: 16px;
  font-weight: 400;
  color: rgb(133, 133, 132);
}
.creator__card__desc span {
  font-size: 16px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

@media (min-width: 1200px) {
  .creator {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 50px 100px;
    align-items: center;
  }
  .creator__top {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .creator__info {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .creator__btn {
    width: 247px;
    height: 60px;
    padding: 0px 50px;
    border: 2px solid rgb(162, 89, 255);
    border-radius: 25px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: inherit;
  }
  .creator__btn:hover {
    background-color: rgba(255, 255, 255, 0.42);
    box-shadow: none;
  }
  .creator__btn i {
    color: rgb(162, 89, 255);
  }
  .creator__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  .creator__card__info {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: space-between;
  }
  .creator__card {
    width: 22%;
    display: flex;
    flex-direction: column;
    background-color: rgb(59, 59, 59);
    border-radius: 20px;
    padding: 15px;
    position: relative;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .creator__card img {
    width: 110px;
  }
  .creator__number {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.402);
    border-radius: 50%;
    padding: 2px 7px;
  }
  .creator__card__title {
    width: 100%;
    margin-top: -10px;
    font-size: 22px;
    font-weight: 600;
  }
  .creator__card__desc {
    margin-top: -10px;
    font-size: 16px;
    font-weight: 400;
    color: rgb(133, 133, 132);
  }
  .creator__card__desc span {
    font-size: 16px;
    font-weight: 400;
    color: rgb(255, 255, 255);
  }
}
@media (max-width: 992px) {
  .creator {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 50px 100px;
    align-items: center;
  }
  .creator__top {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .creator__info {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .creator__btn {
    width: 247px;
    height: 60px;
    padding: 0px 50px;
    border: 2px solid rgb(162, 89, 255);
    border-radius: 25px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: inherit;
  }
  .creator__btn:hover {
    background-color: rgba(255, 255, 255, 0.42);
    box-shadow: none;
  }
  .creator__btn i {
    color: rgb(162, 89, 255);
  }
  .creator__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  .creator__card__info {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: space-between;
  }
  .creator__card {
    width: 330px;
    display: flex;
    flex-direction: row;
    background-color: rgb(59, 59, 59);
    border-radius: 20px;
    padding: 15px;
    position: relative;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .creator__card img {
    width: 110px;
  }
  .creator .card__none {
    display: none;
  }
  .creator__number {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.402);
    border-radius: 50%;
    padding: 2px 7px;
  }
  .creator__card__title {
    width: 100%;
    margin-top: -10px;
    font-size: 22px;
    font-weight: 600;
  }
  .creator__card__desc {
    margin-top: -10px;
    font-size: 16px;
    font-weight: 400;
    color: rgb(133, 133, 132);
  }
  .creator__card__desc span {
    font-size: 16px;
    font-weight: 400;
    color: rgb(255, 255, 255);
  }
}
@media (max-width: 576px) {
  .creator {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
  .creator__top {
    width: 330px;
    display: flex;
    justify-content: center;
  }
  .creator__info {
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .creator__btn {
    display: none;
  }
  .creator__btn.none {
    width: 247px;
    height: 60px;
    padding: 0px 50px;
    border: 2px solid rgb(162, 89, 255);
    border-radius: 25px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: inherit;
  }
  .creator__btn.none:hover {
    background-color: rgba(161, 89, 255, 0.276);
    box-shadow: none;
  }
  .creator__btn.none:hover i {
    color: rgb(122, 57, 253);
  }
  .creator__btn.none i {
    color: rgb(162, 89, 255);
  }
}
.browse {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 80px 115px;
  gap: 15px;
  align-items: center;
}
.browse__title {
  font-size: 38px;
  font-weight: 600;
  word-spacing: 10px;
  width: 95%;
}
.browse__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.browse__card {
  width: 240px;
  height: 316px;
  border-radius: 20px;
  background-color: rgb(59, 59, 59);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
}
.browse__card:hover .browse__blur {
  transition: 1s;
  width: 100%;
  height: 240px;
  top: 0;
  left: 0;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}
.browse__card img {
  width: 100%;
  height: 80%;
}
.browse__blur {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.browse__blur img {
  width: 50%;
}
.browse__card__title {
  font-size: 22px;
  font-weight: 600;
  width: 85%;
}

@media (min-width: 1200px) {
  .browse {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 40px 72px;
    gap: 25px;
    align-items: center;
  }
  .browse__title {
    font-size: 28px;
    font-weight: 600;
    word-spacing: 10px;
    width: 95%;
  }
  .browse__cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  .browse__card {
    width: 22%;
    height: 100%;
    padding-bottom: 20px;
    border-radius: 20px;
    background-color: rgb(59, 59, 59);
  }
  .browse__card:hover .browse__blur {
    transition: 1s;
    width: 100%;
    height: 82.5%;
    top: 0;
    left: 0;
    -webkit-backdrop-filter: blur(6px);
            backdrop-filter: blur(6px);
  }
  .browse__card img {
    width: 100%;
    height: 80%;
  }
  .browse__blur {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .browse__blur img {
    width: 50%;
  }
  .browse__card__title {
    font-size: 28px;
    font-weight: 600;
  }
}
@media (max-width: 1200px) {
  .browse {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 40px 72px;
    gap: 15px;
    align-items: center;
  }
  .browse__title {
    font-size: 28px;
    font-weight: 600;
    word-spacing: 10px;
    width: 95%;
  }
  .browse__cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  .browse__card {
    width: 222px;
    height: 100%;
    padding-bottom: 20px;
    border-radius: 20px;
  }
  .browse__card:hover .browse__blur {
    transition: 1s;
    width: 100%;
    height: 222px;
    top: 0;
    left: 0;
    -webkit-backdrop-filter: blur(6px);
            backdrop-filter: blur(6px);
  }
  .browse__card img {
    width: 100%;
    height: 80%;
  }
  .browse__blur {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .browse__blur img {
    width: 50%;
  }
  .browse__card__title {
    font-size: 24px;
    font-weight: 600;
  }
}
@media (max-width: 992px) {
  .browse {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 40px 72px;
    gap: 15px;
    align-items: center;
  }
  .browse__title {
    font-size: 28px;
    font-weight: 600;
    word-spacing: 10px;
    width: 95%;
  }
  .browse__card__title {
    font-size: 16px;
    font-weight: 600;
  }
  .browse__cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  .browse__card {
    width: 150px;
    height: 209px;
    border-radius: 20px;
    background-color: rgb(59, 59, 59);
  }
  .browse__card:hover .browse__blur {
    transition: 1s;
    width: 150px;
    height: 150px;
    top: 0;
    left: 0;
    -webkit-backdrop-filter: blur(6px);
            backdrop-filter: blur(6px);
  }
  .browse__card img {
    width: 100%;
    height: 80%;
  }
}
@media (max-width: 567px) {
  .browse {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 20px 20px;
    gap: 15px;
    align-items: center;
  }
  .browse__title {
    font-size: 28px;
    font-weight: 600;
    word-spacing: 10px;
    width: 95%;
  }
  .browse__cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
  .browse__card {
    width: 150px;
    height: 209px;
    border-radius: 20px;
    background-color: rgb(59, 59, 59);
  }
  .browse__card__title {
    font-size: 16px;
    font-weight: 600;
  }
}
.discover {
  display: flex;
  gap: 15px;
  flex-direction: column;
  text-align: left;
}
.discover__top {
  display: flex;
  justify-content: center;
}
.discover__left {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.discover__title {
  width: 100%;
}
.discover__desc {
  width: 100%;
}
.discover__right {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}
.discover__right.none {
  display: none;
}
.discover__btn {
  width: 187px;
  height: 60px;
  background: transparent;
  border: 2px solid rgb(162, 89, 255);
  padding: 0px 50px;
  display: flex;
  gap: 5px;
  align-items: center;
  border-radius: 20px;
}
.discover__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.discover__card {
  width: 330px;
  height: 450px;
  background-color: rgb(59, 59, 59);
  border-radius: 20px;
}
.discover__card__top {
  width: 100%;
  height: 66%;
}
.discover__card__top img {
  width: 100%;
  height: 100%;
}
.discover__card__down {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 10px;
}
.discover__card__title {
  font-size: 22px;
  font-weight: 600;
}
.discover__card__desc {
  display: flex;
  gap: 10px;
  align-items: center;
}
.discover__card__desc__title {
  font-size: 16px;
  font-weight: 400;
}
.discover__card__bottom {
  display: flex;
  justify-content: space-between;
}
.discover__bottom__left {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.discover__bottom__right {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.discover__bottom__title {
  font-size: 12px;
  font-weight: 400;
  color: rgb(133, 133, 132);
}
.discover__bottom__desc {
  font-size: 16px;
  font-weight: 400;
}

@media (max-width: 992px) {
  .discover {
    display: flex;
    gap: 15px;
    flex-direction: column;
    text-align: left;
  }
  .discover__top {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  .discover__left {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .discover__title {
    width: 100%;
  }
  .discover__desc {
    width: 100%;
  }
  .discover__right {
    width: 30%;
    display: flex;
    justify-content: flex-end;
  }
  .discover__btn {
    width: 187px;
    height: 60px;
    background: transparent;
    border: 2px solid rgb(162, 89, 255);
    padding: 0px 50px;
    display: flex;
    gap: 5px;
    align-items: center;
    border-radius: 20px;
  }
  .discover__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .discover__card {
    width: 330px;
    height: 470px;
  }
  .discover .second {
    display: none;
  }
  .discover__card__top {
    width: 100%;
    height: 70%;
  }
  .discover__card__top img {
    width: 100%;
    height: 100%;
  }
  .discover__card__down {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
  }
  .discover__card__title {
    font-size: 22px;
    font-weight: 600;
  }
  .discover__card__desc {
    display: flex;
    gap: 10px;
  }
  .discover__card__desc__title {
    font-size: 16px;
    font-weight: 400;
  }
  .discover__card__bottom {
    display: flex;
    justify-content: space-between;
  }
  .discover__bottom__left {
    display: flex;
    flex-direction: column;
  }
  .discover__bottom__title {
    font-size: 12px;
    font-weight: 400;
  }
  .discover__bottom__desc {
    font-size: 16px;
    font-weight: 400;
  }
}
@media (max-width: 576px) {
  .discover {
    display: flex;
    gap: 15px;
    flex-direction: column;
    text-align: left;
  }
  .discover__top {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  .discover__left {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .discover__title {
    width: 100%;
  }
  .discover__desc {
    width: 100%;
  }
  .discover__right.none {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .discover__right {
    display: none;
  }
  .discover__btn {
    width: 187px;
    height: 60px;
    background: transparent;
    border: 2px solid rgb(162, 89, 255);
    padding: 0px 50px;
    display: flex;
    gap: 5px;
    align-items: center;
    border-radius: 20px;
  }
  .discover__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;
  }
  .discover__card {
    width: 330px;
    height: 470px;
  }
  .discover .second {
    display: none;
  }
  .discover__card__top {
    width: 100%;
    height: 63%;
  }
  .discover__card__top img {
    width: 100%;
    height: 100%;
  }
  .discover__card__down {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
  }
  .discover__card__title {
    font-size: 22px;
    font-weight: 600;
  }
  .discover__card__desc {
    display: flex;
    gap: 10px;
  }
  .discover__card__desc__title {
    font-size: 16px;
    font-weight: 400;
  }
  .discover__card__bottom {
    display: flex;
    justify-content: space-between;
  }
  .discover__bottom__left {
    display: flex;
    flex-direction: column;
  }
  .discover__bottom__title {
    font-size: 12px;
    font-weight: 400;
  }
  .discover__bottom__desc {
    font-size: 16px;
    font-weight: 400;
  }
}