
.creator{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 50px 100px;
    align-items: center;
    &__top{
        width: 85%;
        display: flex;
        justify-content: space-between;
    }
    &__info{
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    &__btn{
        width: 247px;
        height: 60px;
        padding: 0px 50px ;
        border: 2px solid rgba(162, 89, 255, 1);
        border-radius: 25px;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        color: inherit;
        &:hover{
            background-color: rgba(161, 89, 255, 0.276);
            box-shadow: none;
        }
        i{
            color: rgba(162, 89, 255, 1);
        }
    }
    &__btn.none{
        display: none;
    }
    &__cards{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
    }
    &__card{
        display: flex;
        flex-direction: column;
        background-color:  rgba(59, 59, 59, 1);
        border-radius: 20px;
        padding: 20px;
        position: relative;
        align-items: center;
        justify-content: center;
        gap: 20px;
        img{
            width: 110px;
        }
       
    }
    &__card__info{
        display: flex;
        gap: 15px;
        flex-direction: column;
        text-align: center;
    }
    &__number{
        position: absolute;
        top: 20px;
        left: 20px;
        background-color: rgba(0, 0, 0, 0.402);
       color: rgba(133, 133, 132, 1);
        border-radius: 50%;
        padding: 2px 7px;
        font-size: 16px;
    }
    &__card__title{
        margin-top: -10px;
        font-size: 22px;
        font-weight: 600;
    }
    &__card__desc{
        margin-top: -10px;
        font-size: 16px;
        font-weight: 400;
        color: rgba(133, 133, 132, 1);
        span{
         font-size: 16px;
         font-weight: 400;
         color: rgba(255, 255, 255, 1);
        }
    }
}




@media (min-width:1200px) {
    
    .creator{
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 50px 100px;
        align-items: center;
        &__top{
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        &__info{
            width: 50%;
            display: flex;
            flex-direction: column;
        }
        &__btn{
            width: 247px;
            height: 60px;
            padding: 0px 50px ;
            border: 2px solid rgba(162, 89, 255, 1);
            border-radius: 25px;
            background: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            color: inherit;
            &:hover{
                background-color: rgba(255, 255, 255, 0.42);
                box-shadow: none;
            }
            i{
                color: rgba(162, 89, 255, 1);
            }
        }
        &__cards{
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
        }
        &__card__info{
            display: flex;
            flex-direction: column;
            gap: 25px;
            justify-content: space-between;
        }
        &__card{
            width: 22%;
            display: flex;
            flex-direction: column;
            background-color:  rgba(59, 59, 59, 1);
            border-radius: 20px;
            padding: 15px;
            position: relative;
            align-items: center;
            justify-content: center;
            gap: 20px;
            img{
                width: 110px;
            }
        }
       
        // .card__none{
        //     display: none;
        // }
        &__number{
            position: absolute;
            top: 20px;
            left: 20px;
            background-color: rgba(0, 0, 0, 0.402);
            border-radius: 50%;
            padding: 2px 7px;
        }
        &__card__title{
            width: 100%;
            margin-top: -10px;
            font-size: 22px;
            font-weight: 600;
        }
        &__card__desc{
            margin-top: -10px;
            font-size: 16px;
            font-weight: 400;
            color: rgba(133, 133, 132, 1);
            span{
             font-size: 16px;
             font-weight: 400;
             color: rgba(255, 255, 255, 1);
            }
        }
    }
    
    
    }

@media (max-width:992px) {
    
.creator{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 50px 100px;
    align-items: center;
    &__top{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__info{
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    &__btn{
        width: 247px;
        height: 60px;
        padding: 0px 50px ;
        border: 2px solid rgba(162, 89, 255, 1);
        border-radius: 25px;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        color: inherit;
        &:hover{
            background-color: rgba(255, 255, 255, 0.42);
            box-shadow: none;
        }
        i{
            color: rgba(162, 89, 255, 1);
        }
    }
    &__cards{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
    &__card__info{
        display: flex;
        flex-direction: column;
        gap: 25px;
        justify-content: space-between;
    }
    &__card{
        width: 330px;
        display: flex;
        flex-direction: row;
        background-color:  rgba(59, 59, 59, 1);
        border-radius: 20px;
        padding: 15px;
        position: relative;
        align-items: center;
        justify-content: center;
        gap: 20px;
        img{
            width: 110px;
        }
    }
   
    .card__none{
        display: none;
    }
    &__number{
        position: absolute;
        top: 20px;
        left: 20px;
        background-color: rgba(0, 0, 0, 0.402);
        border-radius: 50%;
        padding: 2px 7px;
    }
    &__card__title{
        width: 100%;
        margin-top: -10px;
        font-size: 22px;
        font-weight: 600;
    }
    &__card__desc{
        margin-top: -10px;
        font-size: 16px;
        font-weight: 400;
        color: rgba(133, 133, 132, 1);
        span{
         font-size: 16px;
         font-weight: 400;
         color: rgba(255, 255, 255, 1);
        }
    }
}


}

@media (max-width:576px) {
    .creator{
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        &__top{
            width: 330px;
            display: flex;
            justify-content: center;
        }
        &__info{
            width: 330px;
            display: flex;
            flex-direction: column;
            align-items: start;
        }
        &__btn{
            display: none;
        }
        &__btn.none{
            width: 247px;
            height: 60px;
            padding: 0px 50px ;
            border: 2px solid rgba(162, 89, 255, 1);
            border-radius: 25px;
            background: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            color: inherit;
            &:hover{
                background-color: rgba(161, 89, 255, 0.276);
                box-shadow: none;
                i{
                    color: rgb(122, 57, 253) ;
                }
            }
            i{
                color: rgba(162, 89, 255, 1);
            }
        }
        
    }
    
}
